<div class="p-5 rounded-1 mt-4 bg-body-tertiary rounded-3">
    <h1 class="fw-bold display-5">Alışveriş Sitesi</h1>
    <p class="lead text-danger fw-bold fs-4 ms-5">
       Güvenli alışverişin tek adresi
    </p>
</div>
