
<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 fw-bold">

    <div class="d-flex">
        <input type="text" class="form-control form-control-dark text-bg-dark" placeholder="Email..." />
        <input type="password" class="form-control form-control-dark text-bg-dark" placeholder="Password..." />

        <button type="submit" class="btn btn-warning ms-2 fw-bold">Giriş</button>
        <button id="btnIptal" type="button" class="btn btn-outline-warning ms-2 fw-bold">İptal</button>

    </div>

</form>